* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, arial;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login {
    margin: 10px;
    padding: 50px 40px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.Login {
    text-align: center;
    margin-bottom: 20px;
}
.input-container {
    margin-bottom: 10px;
}
.input-container input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
}

.login-btn {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.login-btn button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 55, 255);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.7s ease;
}
.container-login p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
.container p span {
    color: blue;
}
.container-login a {
    text-decoration: none;
    color: black;
}
.login-btn button:hover {
    opacity: 0.7;
}
.container-login a:hover {
    text-decoration: underline;
    color: blue;
}
.or-login-with {
    margin-bottom: 10px;
}
.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.icon {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    overflow: hidden;
    padding: 8px 12px;
    transition: 0.5s;
}
.icon i {
    font-size: 26px;
    margin-right: 14px;
}
.icon a {
    font-size: 16px;
    font-weight: bold;
}
#icon1 {
    background-color: rgb(255, 255, 255);
}
#icon2 {
    background-color: blue;
    color: white;
}
#icon2 a {
    color: white;
}

#icon3 {
    color: white;
}
#icon3 a {
    color: white;
}
.icon:hover {
    width: 130px;
}